body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

* {
    /* border: 0.5px solid #1C6EA4; */
}

a, li, ul, h1, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
}

.header {
    background: url(../Artactive/bcg1.png) no-repeat center top / cover;
    height: 120vh;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    margin: 0 15px;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    width: 15%;
    letter-spacing: 2px;
}

.nav {
    min-width: 270px;
    width: 45%;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.nav__item a {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tel {
    font-weight: 600;
    font-size: 16px;
    width: 10%;
    min-width: 143px;
    margin-right: -25px;
}

.call-btn a {
    border: 1.5px;
    border-style: solid;
    border-color: #fff;
    border-radius: 25px;
    padding: 5px 20px;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap
}

/* 
HEADER BLOCK */

.header__block {
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    margin-right: 15px;
}

.header__block-img img {
    width: 570px;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    margin-right: 50px;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.header__content-text {
    width: 100%;
}

.bot-text {
    font-size: 32px;
    text-transform: initial
}

.header__content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.print-btn {
    width: 100%;
}

.print-btn a {
    background-color: #fb0275;
    border-radius: 25px;
    padding: 15px 35px;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    width: 241px;
    white-space: nowrap
}

.delivery-txt {
    font-size: 16px;
}

.mouse {
    display: flex;
    justify-content: center;
    padding: 45px;
}

/* ABOUT */

.about {
    height: 700px;
}

.about__wrap {
    display: flex;
    margin-top: 70px;
    position: absolute;
}

.about__scheme {
    width: 500px;
    height: 500px;
    position: relative;
    margin-top: 10px;
}

.about__scheme img {
    padding: 100px 100px;
    position: absolute;
}

.icons {
    border-radius: 50px;
    height: 105px;
    width: 105px;
    position: relative;
}

.icon-item {
    background: url(../Artactive/ebook.jpg) no-repeat center top / cover;
    position: relative;
    top: 50px;
    left: 182px;
}

.icon-item2 {
    background: url(../Artactive/tablet.jpg) no-repeat center top / cover;
    position: relative;
    top: 65px;
    left: 395px;
}

.icon-item3 {
    background: url(../Artactive/xxl.jpg) no-repeat center top / cover;
    position: relative;
    top: 0px;
    left: 0px;
}

.icon-item4 {
    background: url(../Artactive/moving.jpg) no-repeat center top / cover;
    position: relative;
    top: 50px;
    left: 215px;
    height: 105px;
    width: 105px;
}

.about__text {
    margin-left: 120px;
    width: 50%;
}

.icon-item__text {
    width: 155px;
    text-align: center;
    font-size: 13px;
    position: relative;
    top: 110px;
    left: -25px;
}

h2 {
    color: #7f38bd;
    font-size: 30px;
    text-transform: inherit;
    margin-bottom: 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.text-color, .text-color p {
    color: #5e606a;
}

.text-name {
    font-size: 32px;
    margin-bottom: 35px;
    width: 370px;
    font-weight: 600;
    color: #383d52;
}

.about__text-inner p {
    margin-bottom: 30px;
    font-size: 14px;
    max-width: 485px;
}

.about__wrap:after {
    content: '';
    background: url(../Artactive/sticks.png) no-repeat center top / cover;
    height: 170px;
    width: 15px;
    bottom: -550px;
    right: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* SERVICE */

.service {
    background-color: #faf8fb;
}

.service__wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.service__text {
    width: 450px;
    z-index: 1;
}

.before {
    position: absolute;
}

.before:before {
    content: '';
    background: url(../Artactive/1.png) no-repeat center top / cover;
    height: 170px;
    width: 151px;
    left: -95px;
    top: -55px;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.service__text-name {
    width: auto;
}

.service__text-inner li {
    color: #5e606a;
    position: relative;
    font-size: 14px;
    margin-left: 10px;
}

.service__text-inner li:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    border: 2px solid #5e606a;
    background-color: #5e606a;
    top: 11px;
    left: -11px;
}

.service__slider {
    padding: 100px 0 0 0px;
    width: 600px;
}

.service__slider-item {
    position: relative;
    /* Относительное позиционирование */
    z-index: 1;
}

.service__slider-item img:first-child {
    height: 430px;
    width: 570px;
    top: -50px;
    right: 30px;
}
.service__slider-item img:nth-child(2) {
    top: -50px;
    right: 90px;
    height: 378px;
    width: 433px;
    
}
.service__slider-item img:nth-child(3) {
    height: 300px;
    width: 400px;
    top: -70px;
    right: 110px;
}

.layer1 {
    position: absolute;
    z-index: 4;
}

.layer2 {
    margin-bottom: 100px;
    position: absolute;
    z-index: 3;
}


.layer3 {
    position: absolute;
    z-index: 1;
} 





.service__order-btn a {
    border: 1.5px;
    border-style: solid;
    border-color: #fff;
    border-radius: 25px;
    padding: 5px 20px;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap
}